{% extends 'base.twig' %}

{% block body %}
<main class="container">
    {% for post in posts %}
    <div class="row mb-2">
        <div class="col-md-7 container-fluid">
            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">

                <div class="col p-4 d-flex flex-column position-static">
                    <strong class="d-inline-block mb-2 text-primary">World</strong>
                    <h3 class="mb-0">{{ post.title|escape }}</h3>
                    <div class="mb-1 text-muted">{{ post.published_date|date("F d, Y") }}</div>
                    <p class="card-text mb-auto">{{ post.description|escape }}</p>
                    <a href="/{{ post.url_key }}" class="stretched-link">Continue reading</a>
                </div>
                <div class="col-auto d-none d-lg-block">
                    <img src="https://dummyimage.com/200X250/55595c/eceeef" alt="{{ post.title|escape }}">
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</main>
{% endblock %}



